*{
    padding: 0;
    margin: 0;
}

.login{
    float: right;
    width: 20%; 
   margin-top: 20px;
   margin-right: 5%;
   
}

button{
    width: 100%;
    
}

footer{
    height: 30px;
    width: 100%;
    background-color: #28a745;
}

footer h3{
    font-size: small;
    text-align: center;
}