*{
    padding: 0;
    margin: 0;
}

.carousel-inner{
    height: 100%;
}

footer{
    height: 30px;
    width: 100%;
    background-color: #28a745;
}

footer h3{
    font-size: small;
    text-align: center;
}